In [62]:
import pandas as pd

n = int(input("Enter a non-negative integer number: "))

even = []
odd = []
fibo = [0,1]


if n < 0:
    print(n," is negative")
       
       
    
else:
    for x in range(n):
        even.append(2*x)
        odd.append(2*x+1)
        if x>1: fibo.append(fibo[x-2]+fibo[x-1])
    
summary_dict = {'Even' :even,'Odd':odd,'Fibonacci':fibo}

summary_df = pd.DataFrame(data = summary_dict)

summary_df

Enter a non-negative integer number: 4

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2